services:
  # ON GARDE UN SEUL BACKEND (qui fait tout)
  global-backend:
    container_name: backend-container
    build:
      context: ./payment-service # Le dossier qui contient tout le code fusionné
      dockerfile: Dockerfile
    ports:
      # On ouvre le port 8080 car c'est celui que ton Front React attaque par défaut
      - "8080:8080"
    environment:
      # On force Spring à écouter sur le 8080 (au cas où)
      - SERVER_PORT=8080
      - STRIPE_API_KEY=sk_test_51SfL2fLbw9bnccGvTyIJSmbZhhLDWZN49Fuzpmf4chUCzcHjc5DHYceNJ6hgCbN9oifuOOoyAXbkkYLOkzF8ZVA200h1seD5ng
    networks:
      - app-network

  frontend:
    container_name: frontend-container
    build:
      context: ./ClientMicroServiceJava
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - global-backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
